body {
    margin: 10px 35px 10px 35px;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px dotted gray;
    padding: 4px;
}